<nav class="zt-nav">
    <NavLink class="zt-nav-item" href="" Match="NavLinkMatch.All">
        <span class="zt-nav-icon">⌂</span> Dashboard
    </NavLink>
    <NavLink class="zt-nav-item" href="hosts">
        <span class="zt-nav-icon">🖧</span> SSH Hosts
    </NavLink>
    <NavLink class="zt-nav-item" href="setup">
        <span class="zt-nav-icon">📘</span> Server Setup Guide
    </NavLink>
</nav>
